<p id="notice"><%= notice %></p>

<h1>Listing Sayhellos</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sayhellos.each do |sayhello| %>
      <tr>
        <td><%= sayhello.body %></td>
        <td><%= link_to 'Show', sayhello %></td>
        <td><%= link_to 'Edit', edit_sayhello_path(sayhello) %></td>
        <td><%= link_to 'Destroy', sayhello, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sayhello', new_sayhello_path %>
